<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Supermarket</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="products" class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="create" class="nav-link">Create a product</a>
      </li>
      <li class="nav-item">
        <a routerLink="orders" class="nav-link">History</a>
      </li>
      <li class="nav-item">
        <a routerLink="createOrder" class="nav-link">Shopping car</a>
      </li>
      
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>